@charset "UTF-8";

body{
    background-color: honeydew;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}
h1{
    color:lightcoral;
    background-color: cornsilk;
}

h2{
    color: blueviolet;
}

p{
    text-align: justify;
}